{% extends 'base.html' %}
{% load static %}

<body>
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">
          <!-- ***** Banner Start ***** -->
          <div class="main-banner">
            <div class="row">
                <center>
                    <div class="col-lg-7">
                        <h4><em>500</em></h4>
                        <div class="header-text">
                            <h6>Hа сервере произошла внутренняя ошибка и запрошенная вами страница не может быть загружена. Наша команда работает над исправлением проблемы, но если проблема не исчезнет, пожалуйста, свяжитесь с нами, чтобы мы могли помочь вам получить доступ к необходимой информации. Приносим извинения за неудобства, и благодарим вас за ваше терпение.</h6>
                        </div>
                        <div class="col-lg-12">
                            <div class="main-button">
                                <a href="{% url 'index' %}">Вернуться на главную</a>
                            </div>
                        </div>
                    </div>
                </center>
            </div>
          </div>
          <!-- ***** Banner End ***** -->
        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}
  </body>

