{% extends 'base.html' %}
{% load static %}

<body>
{% block content %}
<style>
    .filter-form .form-group {
        margin-bottom: 20px; /* Больший отступ между формами */
    }
    .filter-form label {
        color: white; /* Белый цвет текста меток */
    }
    .form-control {
        color: white; /* Белый текст внутри форм */
    }
    .row {
        margin-bottom: 20px; /* Отступ между рядами */
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">
                <!-- ***** Banner Start ***** -->
                <div class="main-banner">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h4><em>Фильтрация</em></h4>
                        </div>
                        <div class="col-lg-12">
                            <div class="header-text">
                                <div class="filter-form">
                                    <form method="get">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="{{ filter.form.title.id_for_label }}">Название</label>
                                                    {{ filter.form.title }}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="{{ filter.form.description.id_for_label }}">Описание</label>
                                                    {{ filter.form.description }}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="{{ filter.form.color.id_for_label }}">Цвет</label>
                                                    {{ filter.form.color }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="{{ filter.form.quantity.id_for_label }}">Количество</label>
                                                    {{ filter.form.quantity }}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="{{ filter.form.sale_price__gte.id_for_label }}">Продажная цена(больше чем)</label>
                                                    {{ filter.form.sale_price__gte }}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="{{ filter.form.sale_price__lte.id_for_label }}">Продажная цена(меньше чем)</label>
                                                    {{ filter.form.sale_price__lte }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="{{ filter.form.storage_location.id_for_label }}">Место хранения</label>
                                                    {{ filter.form.storage_location }}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="{{ filter.form.delivery_date__gt.id_for_label }}">Дата завоза(От)</label>
                                                    {{ filter.form.delivery_date__gt }}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                   <label for="{{ filter.form.delivery_date__lt.id_for_label }}">Дата завоза(До)</label>
                                                        {{ filter.form.delivery_date__lt }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <button type="submit" class="btn btn-primary mt-4">Применить фильтры</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Banner End ***** -->
            </div>
        </div>
    </div>
</div>
          <!-- ***** Banner End ***** -->

          <!-- ***** Most Popular Start ***** -->
          <div class="most-popular">
            <div class="row">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4><em>Список</em> все товаров на складе</h4>
                </div>
                <div class="row">
                  {% for product in products %}
                    <div class="col-lg-3 col-sm-6">
                      <a href="{% url 'detail' product.id %}">
                        <div class="item">
                          <img src="{{ product.image.url }}" style="width: 100%; height: 200px; object-fit: contain;" alt="">
                          <h4>Название: <br><span style="color: white;">Количество: </span></h4>
                          <ul>
                            <li> {{ product.title|truncatechars:18 }}</li>
                            <li><i class="fa fa-download"></i> {{ product.quantity }}</li>
                          </ul>
                        </div>
                      </a>
                    </div>
                  {% endfor %}
                  <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                      {% if products.has_previous %}
                      <li class="page-item">
                        <a class="page-link" href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page={{ products.previous_page_number }}">Предыдущая</a>
                      </li>
                      {% else %}
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Предыдущая</a>
                      </li>
                      {% endif %}

                      {% for num in products.paginator.page_range %}
                          {% if products.number == num %}
                          <li class="page-item active">
                            <a class="page-link" href="#">{{ num }} <span class="sr-only">(current)</span></a>
                          </li>
                          {% else %}
                          <li class="page-item">
                            <a class="page-link" href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page={{ num }}">{{ num }}</a>
                          </li>
                          {% endif %}
                      {% endfor %}

                      {% if products.has_next %}
                      <li class="page-item">
                        <a class="page-link" href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page={{ products.next_page_number }}">Следующая</a>
                      </li>
                      {% else %}
                      <li class="page-item disabled">
                        <a class="page-link" href="#">Следующая</a>
                      </li>
                      {% endif %}
                    </ul>
                  </nav>

                </div>
              </div>
            </div>
          </div>
          <!-- ***** Most Popular End ***** -->

        </div>
      </div>
    </div>
  </div>
{% endblock %}
  </body>

